html, body {
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

.input-wrapper {
    margin-bottom: 10px;;
}

label {
    display: inline-block;
    min-width: 75px;
}

.error-message {
    color: red;
    font-size: 0.8em;
}
/* Modern CSS */
.input-section {
    border: 5px solid limegreen;
    width: min(100% - 2rem, 600px);
    margin-inline: auto;
}
/* the code above and the below do the same */
/* .container {
    border: 5px solid limegreen;
    width: 100%;
    max-width: 600px;
    padding: 0 1em;
    margin: 0 auto;
} */

